
h1,h2,h3,h4,h5,p{
  font-family: 'Merriweather', serif;
}

  h5{
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 2.5px;
    color: #666;
  }

h5.layout {
    color: white;
    margin-top: 5px;
}  
.thumb-name{
    font-size: 0.9rem;
    margin-top: 5px;
}   

.justify {
    text-align: justify;
}

.thumb-title{
    font-size: 0.9rem;
    color: black;
    font-weight: bold;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
}

  
.less-margin {
    margin-bottom: 0;
}

  h6{
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
    font-weight: 600;
  }

  p{
    font-size: 15px;
    color: #666;
  }

  .caption-text {
      font-style: italic;
      text-align: center;
      font-size: 0.9em;
      margin-bottom: 35px;
      padding: 0 5%;
      color: black;
      font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  }

  .underline{
    border-bottom: solid darkgray 1px;
    font-weight: bold;
    padding-bottom: 1px;
  }

.round{
  border-radius: 5px;
}

.text-light{
  color: #666;
}

.button{
  background-color: #333;
}

.button:hover{
  background-color: #111;
}

a{
  color: #333;
}

a:hover{
  color: #111;
}

.greeting-text:first-of-type{
    margin-top: 25px;
    font-style: italic;
}

.greeting-text {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: black;
}

.image{
  display: inline-block;
  margin-left: auto;
  margin-bottom: .6rem;
  border: solid 4px #fefefe;
  border-radius: 0;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
  line-height: 0;
}

.error-img{
    width: 300px;
    height: auto;
    margin: 100px auto 0;
}

.error-img p{
    text-align: right;
}

.error-img a {
    margin-top: 25px;
    font-size: .75em;
    display: inline-block;
    width: 100%;
    border-top: solid darkgray 2px;
    padding-top: 3px
}

.error-img a:hover{
    text-decoration: underline;
}

.portfolio-me{
  padding: 20px;
  background: #121213;
  color: #fff;
  box-shadow: none !important;
}

  .portfolio-me p{
    font-size: 14px;
    color: #999;
  }

  .portfolio-me a{
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #555;
    font-size: 13px;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
  }

  .portfolio-me a:hover{
    color: #999;
  }

.portfolio-breadcrumb{
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  justify-content: space-between;
}

 .portfolio-breadcrumb a{
   font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-weight: 600;
   font-size: 13px;
   letter-spacing: 2.5px;
   -webkit-text-transform: uppercase;
   text-transform: uppercase;
 }

.portfolio-intro{
  margin: 0;
  padding: 40px 50px 30px;
}


.portfolio-index{
  margin: 0;
  padding: 20px 50px;
}

.thumbnail-container {
    position: relative;
    transition: all .15s ease-out;
}

.cell a:hover .tool-tip, .cell a:focus .tool-tip{
    box-shadow: inset 0 0 250px rgba(0, 0, 0, 1);
    background: rgba(0, 0, 0, 0.5);
    z-index: 3;
}

.cell a:hover .thumbnail-container, .cell a:focus .thumbnail-container {
    transform: scale(0.98);
}

.thumbnail {
    z-index: 2;
}

.tool-tip {
    transition: all .25s ease-out;
    z-index: -1;
    color: white;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 42%;
    font-style: italic;
    text-transform: lowercase;
}

  .portfolio-index a{
    color: #222;
  }

  .portfolio-index .cell{
    margin-bottom: 15px;
  }

    .portfolio-index .cell h5{
      letter-spacing: 1px;
    }

.portfolio-meta{
  padding-left: 20px;
}

  .portfolio-meta .button{
    margin-bottom: 5px;
  }

.portfolio-project p{
  border: none;
}

.portfolio-project li{
  font-size: 13px;
  color: #444;
}

.portfolio-bio{
    line-height: 25px;
}
